<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%> 

<html>
 
  <body>
    
    <main class="container col-1">
    <div class="row">
      <button class="btn btn-success mt-5" type="submit"><a href="/users/register" class="link-dark">Register</a></button>
      <li class="btn btn-success mt-5"><a href="/users/login" class="link-dark">Login</a>
    </div>
  </main>







    <%- include('partials/script') %>
  </body>
</html>
